:root {
  --red: #000000;
  --green: #000000;
  --blue: #000000;
}
.color {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#color {
  width: 100px;
  height: 100px;
  background-color: rgb(var(--red), var(--green), var(--blue));
  border: 1px solid black;
}