html {
  height: 100%;
  width: 100%;
}
.centre-div {
  display: grid;
  justify-content: center;
  flex-direction: column;
}

.items {
  font-size: 150%;
}

.btn-div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.btn {
  background-color: #ec9eff;
  border: solid 2px black;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  font-size: 100%;
}

#no {
  width: 60px;
}